# Environments & Cache
venv/
.venv/
__pycache__/
*.pyc
.pytest_cache/
.ipynb_checkpoints/
.DS_Store

# Large Datasets & Raw Data
data/*
!data/.gitkeep

# Large Model Weights (Binary Binaries > 100MB)
*.safetensors
*.bin
*.h5
*.onnx
*.joblib
models/*/*.pth
models/*/*.pkl

# Exception Rules (Ensure metadata, configs, JSONs & drift embeddings ARE tracked)
!models/**/*.json
!models/**/reference_embeddings_v1.pt
!models/**/tokenizer_config.json
!models/**/config.json